.write {
  width: 100%;
  min-height: 100vh;
  padding-top: 5vh;

  background-color: var(--gray-20);

  &__text {
    border-radius: 5px;
    min-height: 90vh;
    padding: 5rem;
    font-size: 1.2rem;
    font-family: sans-serif;
    background-color: var(--gray-90);
    margin: 0 auto;
    width: clamp(300px, 80%, 800px);

    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);


    &:focus {
      outline: none;
    }
  }
}
