

.write {
  width: 100%;
  min-height: 100vh;
  padding-top: 5vh;
  background-color: var(--gray-20);
  // position: relative;

  &__text-container {
    width: clamp(300px, 80%, 800px);
    margin: 0 auto;
  }
  
  &__copy {
    position: fixed;
    left: 70px;
    top: 20px;
    
    &-img {
      transition: all .2s;
      opacity: .2;
      width: 28px;
      
      &:hover {
        opacity: .6;
        cursor: pointer;
      }

      &:active {
        opacity: .4;
      }
    }
    
    

  }
  
  &__text {
    width: clamp(300px, 80%, 800px);
    border-radius: 5px;
    min-height: 90vh;
    padding: 5rem;
    font-size: 1.2rem;
    font-family: sans-serif;
    background-color: var(--gray-90);
    margin: 0 auto;

    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);


    &:focus {
      outline: none;
    }
  }
}
