.write {
    width: 100%;
    height: 100vh;
    background-color: #2D2D2D;
    // background-color: red;

    &__text {
        font-size: 1.2rem;
        font-family: sans-serif;
        padding: 5rem;
        background-color: #C3C3C3;
        margin: 0 auto;
        width: clamp(45px, 80%, 800px);
        height: 100vh;

        &:focus {
            outline: none;
        }
    }
}