.options {
  position: absolute;
  visibility: hidden;
  border-radius: 3px;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;

  background-color: var(--gray-90);
  &__item {
    font-family: sans-serif;
    font-size: 0.8rem;
    padding: 6px 10px;
    box-shadow: rgba(55, 53, 47, 0.09) 1px 0px 0px;

    transition: all 0.2s;

    &:hover {
    //   background-color: var(--gray-90);
      cursor: pointer;
    }

    &-italic {
      font-style: italic;
    }

    &-bold {
      font-weight: bold;
    }

    &-underline {
      text-decoration: underline;
    }
  }
}
